body {background: #F1EDE5;}

img {
    box-shadow: .7em .7em .7em #777777; 
}
p {
 font-family: 'Quicksand', cursive;
   font-size: 10em;
/*    background: red; */
/*    border: dotted red; */
   margin: auto;
   padding: 0% 0% 0% 25%;
}

.hidden {
  color: transparent; 
}

.reveal {
   color: green;
}

.hint {
    animation-name: flashLetter;
    animation-duration: 1s;
}

@keyframes flashLetter {
    50% {
        color: black;
    }
    100% {
        color: transparent;
    }
}
.imageWrapper {
   margin-top: 5em;
   display: flex;
   justify-content: center;
   
/*    padding-top: 40%; */
/*    background: salmon; */
}
.wordWrapper {
/*    margin-top: 5%; */
   display: flex;
   flex-direction: row;
   justify-content: center;
/*    background: pink; */
}
.letterBox {
   width: 8em;
   height: 12em;
   margin: 1%;
   padding: 2%;
/*    background: aqua; */
   border-bottom: thick solid black;
}
